<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlZakerin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C6663E11D92BF9A003F704C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6663F51D92BF9B003F704C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6664001D92BF9B003F704C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
